{% load static %}
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Anders & Emelie Englöf Ytterström</title>
    <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" href="{% static 'ea.css' %}" />
  </head>
  <body>
    {% include '_header.html' %}
    <main class="column">{% block content %}{% endblock content %}</main>
    {% include '_form.html' with f=rvspform %} {% include '_footer.html' %}
  </body>
</html>
