{% extends 'layout.html' %}
{% block content %}
<h1>Välkomna till vårt bröllop!</h1>

<big>1/7 2023</big>

<p>Den 14 mars 2021 förlovade vi oss på Galgberget i Falun. 
Nu har det äntligen blivit dags för bröllop och vi hoppas 
att ni vill dela dagen med oss!</p>

<h2>Information</h2>

<h3>Plats</h3>

Österå Bystuga
Adress: Österå 95, 791 91 Falun

<h3>Vigsel</h3>

<p>Samling från 14.30 på parkeringen vid Österå Bystuga. 
    Gemensam promenad 14:50 till vigselplatsen. Vigseln startar 
    klockan 15 och kommer att ske utomhus under bar himmel. 
    Vid regn kan det därför vara bra att ha med ett paraply 
    eller en regnjacka.
</p>

<h3>Bröllopsfest</h3>

<p>Efter vigseln blir det tårta, kaffe och mingel på trädgården 
utanför bystugan. När Jonas är i farten kan det också bli någon 
lek. Vid 18 tiden fortsätter kvällen med middag, dans och 
fest i bystugan!</p>

<h3>Tal</h3>

<p>Om du vill hålla tal, spexa eller göra något annat skoj under
dagen får du gärna anmäla det till vår toastmaster Jane. Har 
du några frågor om tal och spex är du välkommen att höra av 
dig till Jane.</p>

<h4>Toastmaster</h4>

<p>
Jane Doe<br>
Mejl: jane.doe@gastmail.com<br>
Telefon: 073-1337001
</p>

<h3>Klädsel</h3>

<strong>Kavaj</strong>

<ul>
<li>För damer innebär det klänning, kjol, byxdress eller dräkt.
<li>För herrar innebär det kostym. Valfri färg på skjorta och kavaj.
</ul>

<h3>Barn</h3>

<p>Barn är välkomna att delta på vigseln och efteråt på minglet och 
lek utomhus.</p>

<p>Middagen och festen är barnanpassad. Bäbisar får delta på middagen 
under föräldrarnas ansvar. Det finns ett sidorum intill den stora 
lokalen i bystugan, där det går att placera vagn och vara ifred.
</p>

<h3>Boende & Transport</h3>

<h4>Boende</h4>

<p>Det är 8 km in till Falun, där finns det hotell och vandrarhem</p>

<p>Det finns plats för några husvagnar som kan stå på parkeringen 
vid bystugan samt några tältplatser på gräsmattan intill bystugan. 
Anmäl husvagnsplats eller tältplats i OSA svar längst ner på sidan.</p>

<h4>Resa/transport</h4>

<p>Det kommer att åka flera bilar från Falun ut till Österå Bystuga, 
där det kan finnas flats att åka med. Om du inte vet hur du ska ta 
dig ut, hör gärna av dig till oss så kan vi hjälpa dig. </p>

<p>På natten finns det några nyktra chaufförer som kör in till Falun, 
där några kan haka på. I övrigt får vi gå ihop och beställa taxi. 
Vill du åka hem en specifik tid behöver ni boka dagen innan. </p>

<p>Några nummer till taxibolag som kör ut till Österå Bystuga: </p>

<ul>
    <li>Koppartaxi AB: 023-630 00 
    <li>Falan Taxi: 070-019 13 14
    <li>TaxiKurir Falun: 023-15300
</ul>

<h3>Fotograf</h3>

<strong>Jane Doe</strong>

Kontakt<br>
janedoe.com

<h3>Presenter</h3>

<p>Vi önskar inga presenter. Vi blir som gladast av er närvaro!</p>

<h2<OSA 1/4</h2>

<p>OSA till oss genom att fylla i formuläret. OSA senast 1 april.</p>

<p>Ange namn, eventuell specialkost, om du önskar campingplats och 
om du planerar att enbart delta på någon del av dagen.</p>
{% endblock content %}